<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8" />
    <title>About</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="container" >
        <div class="nav-wrapper">
            <div class="left-side">
                <div class="nav-link-wrapper">
                    <a href="index.html">Safety NC</a>
                </div>
            </div>    
            <li class="right-side">
                <div class="nav-link-wrapper">
                    <a href="about.html">About</a>
                </div>
                <div class="nav-link-wrapper">
                    <a href="data.html">Data</a>
                </div>
                <div class="nav-link-wrapper">                       
                    <a href="bicycle.html">Bicycle</a>
                </div>
                <div class="nav-link-wrapper">
                    <a href="pedestrians.html">Pedestrian</a>
                </div>
            </div>
        </div>

        <div class="container2" >
            <div class="nav-wrapper2">
                <div class="center2">
                    <div class="nav-link-wrapper2">
                       <a>Project Requirements</a>
                    </div>
                </div>
            </div>
        </div> 
</body>
</html>