<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Safety_NC</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="jumbotron text-center">
        <h1 id="missions">NC Safety for Bicyclest and Pedestrians</h1>
        <!-- <p><a class="btn btn-primary btn-lg" href="/scrape" role="button" id="newd">Scrape New Data</a></p> -->
      </div>
      <div class="col-md-7">
      <h2>Bicycles</h2>
        <h3> Bike Crash Severity Group</h3>
        <p> {{ article1['CrashSevr'] }}</p>
        <h3> Speed limit upper value</h3>
        <p>{{ article2['County'] }}</p>
        <h3>Future Plots</h3>
        <!-- <img src="{{ article1.featured_image_url }}" alt="Sloth"> -->
      </div>
      <div class="col-md-5">
        <h2>Pedestrians</h2>
        <!-- <p>{{ article1.weather }}</p> -->
        <br>


        </div>
    </div>
    <h2>Pedestrians data</h2>
    <hr class="my-4"> 


  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
  <script type="text/javascript" src="assets/js/appcharts.js"></script>

</body>

</html>
